<div class="container about-container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <section class="image-container">
        <img id="profile-picture" src="images/profile.png" alt="me" style="width:100px;height:100px;">
      </section>
      <h1 id="title">Digital Dream Jobs</h1>
      <p id="intro">Welcome to the new Digital Dream Jobs site. This site will guide you through the journey to getting your Dream Digital Job!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <section class="icon-container">
        <ul>
          <li class="link-icon"><a href="mailto:digitaldreamjobs@yahoo.com" id="gmail-small">Email</a></li>
          <li class="link-icon"><a href="http://uk.linkedin.com/pub/peter-m-mccarthy/93/b30/527/" id="linkedin-small">LinkedIn</a></li>
          <li class="link-icon"><a href="https://github.com/petemmccarthy" id="github-small">Github</a></li>
          <li class="link-icon"><a href="https://twitter.com/digitaldreamjob/with_replies" id="twitter-small">Twitter</a></li>
        </ul>
      </section>
    </div>
  </div>
</div>

{{outlet}}
