
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3">
      <h1 id="title">Digital Dream Jobs</h1>
      <h2 id="title">Welcome to the new Digital Dream Jobs site. This site will guide you through the journey to getting your Dream Digital Job!</h2>
    </div>
  </div>
</div>
{{outlet}}
